.dodai{
    word-wrap: break-word;
    width: 250px;
}
.select1{
    background-color: #ffffff;
}
.select2{
    background-color: #e8c919;
}
.select3{
    background-color: #b5f80a;
}
.select4{
    background-color: #13d5c5;
}